.shops-wrapper {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.country-list {
	grid-column: 1;
}

.city-list-wrapper {
	grid-column: 2/4;
}

.shops-list-wrapper {
	grid-column: 4/7;
}

.city-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.shops-list ul li {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.city-list {
	display: none;
}

.shops-list ul li {
	display: none;
}
